.country-details {
  flex: 2;

  &__body {
    display: flex;
    justify-content: flex-start;

    > div {
      border: 1px solid #ccc;
      padding: 10px;
    }

    &-left {
      flex: 1;
      img {
        width: 50%;
        height: 50%;
      }
    }

    &-right {
      flex: 2;
    }
  }
}
